<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CryptoBet</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.EffettuaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>Registra</servlet-name>
    <servlet-class>controller.RegistraCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registra</servlet-name>
    <url-pattern>/sendData</url-pattern>
  </servlet-mapping>  
  
  
  <servlet>
    <servlet-name>Versamento</servlet-name>
    <servlet-class>controller.VersamentoSuConto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Versamento</servlet-name>
    <url-pattern>/versamentoConto</url-pattern>
  </servlet-mapping>  
  
  
   <servlet>
    <servlet-name>AggiornaDati</servlet-name>
    <servlet-class>controller.AggiornaDati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaDati</servlet-name>
    <url-pattern>/aggiornaDati</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <servlet-name>AggiornaQuote</servlet-name>
    <servlet-class>controller.AggiornaQuote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiornaQuote</servlet-name>
    <url-pattern>/aggiornaQuote</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <servlet-name>ModificaQuota</servlet-name>
    <servlet-class>controller.ModificaQuota</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaQuota</servlet-name>
    <url-pattern>/modificaQuota</url-pattern>
  </servlet-mapping> 
  
    <servlet>
    <servlet-name>Scommetti</servlet-name>
    <servlet-class>controller.Scommetti</servlet-class>
 	 </servlet>
  <servlet-mapping>
    <servlet-name>Scommetti</servlet-name>
    <url-pattern>/scommetti</url-pattern>
  </servlet-mapping> 
  
   <servlet>
    <servlet-name>MostraScommesse</servlet-name>
    <servlet-class>controller.MostraUltimeScommesse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraScommesse</servlet-name>
    <url-pattern>/mostraScommesse</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>ListaMovimenti</servlet-name>
    <servlet-class>controller.ListaMovimenti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaMovimenti</servlet-name>
    <url-pattern>/listaMovimenti</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>VerificaScommessa</servlet-name>
    <servlet-class>controller.VerificaScommessa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificaScommessa</servlet-name>
    <url-pattern>/verificaScommessa</url-pattern>
  </servlet-mapping>  
  
</web-app>