<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CryptoBet</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.EffettuaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>Registra</servlet-name>
    <servlet-class>controller.RegistraCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registra</servlet-name>
    <url-pattern>/sendData</url-pattern>
  </servlet-mapping>  
  
   <servlet>
    <servlet-name>PrendiCampionati</servlet-name>
    <servlet-class>controller.Campionati</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrendiCampionati</servlet-name>
    <url-pattern>/campionati</url-pattern>
  </servlet-mapping>  
  
</web-app>